<mat-toolbar color="primary" class="toolbar">
  <div class="logo-container">
    <img src="assets/Logo.png" alt="Café Lab Logo" class="logo" />
  </div>
  <span class="spacer"></span>

  <a mat-button class="toolbar-button" routerLink="/inicio" routerLinkActive="active-link">
    {{ 'NAVIGATION.HOME' | translate }}
  </a>
  <a mat-button class="toolbar-button" routerLink="/funcionalidades" routerLinkActive="active-link">
    {{ 'NAVIGATION.FEATURES' | translate }}
  </a>
  <a mat-button class="toolbar-button" routerLink="/contacto" routerLinkActive="active-link">
    {{ 'NAVIGATION.CONTACTS' | translate }}
  </a>
  <a mat-button class="toolbar-button" routerLink="/perfil" routerLinkActive="active-link">
    {{ 'NAVIGATION.PROFILE' | translate }}
  </a>

  <span class="spacer"></span>
  <div class="language-switcher-container">
    <app-language-switcher></app-language-switcher>
  </div>
</mat-toolbar>
