<div class="defect-file-container">
  <div class="header">
    <span class="title">{{ 'DEFECT_FILE.TITLE' | translate }}</span>
    <button class="close-btn" (click)="goBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="defect">
    <div class="main-options">
      <div class="option causes" (click)="showCauses()">
        <mat-icon>chevron_left</mat-icon>
         {{ 'DEFECT_FILE.CAUSES' | translate }}

      </div>
      <div class="option solutions" (click)="showSolutions()">
        {{ 'DEFECT_FILE.SOLUTIONS' | translate }}
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>

    <div *ngIf="show === 'causes'" class="details">
      <button class="back-btn" (click)="showMain()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2>{{ 'DEFECT_FILE.CAUSES' | translate }}</h2>
      <p>{{ defect.probableCause }}</p>
    </div>

    <div *ngIf="show === 'solutions'" class="details">
      <button class="back-btn" (click)="showMain()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <h2>{{ 'DEFECT_FILE.SOLUTIONS' | translate }}</h2>
      <p>{{ defect.suggestedSolution }}</p>
    </div>
  </ng-container>
</div>
