<mat-card class="plan-info">
  <mat-card-title>Plan Barista</mat-card-title>
  <mat-card-subtitle class="price">s/.19/mes</mat-card-subtitle>
  <mat-card-content>
    <ul class="features">
      <li><mat-icon color="primary">check</mat-icon> Sesiones de cata</li>
      <li><mat-icon color="primary">check</mat-icon> Librería de defectos</li>
      <li><mat-icon color="primary">check</mat-icon> Correlación Tueste-Sabor</li>
      <li><mat-icon color="primary">check</mat-icon> Calibración de Molienda</li>
      <li><mat-icon color="primary">check</mat-icon> Recetas</li>
    </ul>
  </mat-card-content>
</mat-card>
