@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap');

/* Color del toolbar */
.toolbar-plan {
  background-color: #618985 !important;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  width: 100vw;        /* Ocupa todo el ancho de la ventana */
  box-sizing: border-box;
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
}

/* Logo responsive */
.logo {
  height: auto;
  max-height: 60px;     /* Ajustable */
  width: auto;
  max-width: 100%;
  border-radius: 20px;

}

/* Espaciador para empujar el contenido al final */
.spacer {
  flex: 1 1 auto;
}

/* Botones y selector de idioma */
.toolbar-button,
.language-switcher-container {
  width: 100%;
  margin: 6px 0;
  min-width: unset;
  text-align: left;
  padding: 8px 0;
}

/* Alinear el selector a la derecha */
.language-switcher-container {
  margin-left: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Eliminar márgenes por defecto del body si fuera necesario */
body, html {
  margin: 0;
  padding: 0;
}


