<div class="filters-container">
  <div class="search-row">
    <div class="search-col">
      <label class="search-label">{{ 'CALIBRATIONS.SEARCH' | translate }}</label>
      <mat-form-field appearance="fill" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [placeholder]="'CALIBRATIONS.SEARCH' | translate"
               [(ngModel)]="search" (ngModelChange)="filterData()">
        <button matSuffix mat-icon-button *ngIf="search" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="table-container">
  <div class="history-table-scroll">
    <table mat-table [dataSource]="filteredCalibrations" class="custom-table" *ngIf="filteredCalibrations.length > 0">
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> {{ 'CALIBRATIONS.TABLE.NAME' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
      </ng-container>
      <!-- Metodo -->
      <ng-container matColumnDef="metodo">
        <th mat-header-cell *matHeaderCellDef> {{ 'CALIBRATIONS.TABLE.METHOD' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{ row.method }} </td>
      </ng-container>
      <!-- Equipo -->
      <ng-container matColumnDef="equipo">
        <th mat-header-cell *matHeaderCellDef> {{ 'CALIBRATIONS.TABLE.EQUIPMENT' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{ row.equipment }} </td>
      </ng-container>
      <!-- Apertura -->
      <ng-container matColumnDef="apertura">
        <th mat-header-cell *matHeaderCellDef> {{ 'CALIBRATIONS.TABLE.APERTURE' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{ row.aperture }} </td>
      </ng-container>
      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="goToEdit(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="goToView(row.id)">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="add-calibration-btn">
    <button mat-raised-button (click)="goToRegister()">
      {{ 'CALIBRATIONS.REGISTER' | translate }}
    </button>
  </div>
</div>
<div *ngIf="filteredCalibrations.length === 0" class="no-data">
  {{ 'CALIBRATIONS.NO_DATA' | translate }}
</div>
