<mat-toolbar color="primary">
  <app-toolbar/>
</mat-toolbar>

<div style="height: 60px;"></div>

<div class="container">
  <div class="breadcrumb">
    <a routerLink="/preparation/recipes">{{ 'NAVIGATION.DRINKS' | translate }}</a> &gt;
    <span>{{ portfolio?.name }}</span>
  </div>

  <div class="portfolio-header">
    <h1 class="portfolio-title">{{ portfolio?.name }}</h1>
    <div class="action-buttons">
      <button mat-raised-button color="primary" class="action-button" (click)="openAddRecipesDialog()">
        <mat-icon>add</mat-icon> {{ 'portfolio.add_recipes' | translate }}
      </button>
      <button mat-raised-button color="accent" class="action-button" (click)="openEditDialog()">
        <mat-icon>edit</mat-icon> {{ 'portfolio.edit' | translate }}
      </button>
      <button mat-raised-button color="warn" class="action-button" (click)="deletePortfolio()">
        <mat-icon>delete</mat-icon> {{ 'portfolio.delete' | translate }}
      </button>
    </div>
  </div>

  <div class="recipes-grid" *ngIf="portfolioRecipes.length > 0">
    <mat-card class="recipe-card" *ngFor="let recipe of portfolioRecipes">
      <button mat-icon-button class="remove-button" (click)="$event.stopPropagation(); removeRecipeFromPortfolio(recipe.id)">
        <mat-icon>close</mat-icon>
      </button>
      <div class="recipe-content" [routerLink]="['/preparation/recipes', recipe.id]">
        <img mat-card-image [src]="recipe.imageUrl" [alt]="recipe.name" class="recipe-img">
        <mat-card-content>
          <h3 class="recipe-title">{{ recipe.name }}</h3>
          <p class="recipe-type">
            <ng-container *ngIf="recipe.extractionCategory === 'coffee'">
              {{ 'recipes.creation.extraction_methods.coffee' | translate }}
              - {{ 'recipes.creation.extraction_methods.' + recipe.extractionMethod | translate }}
            </ng-container>
            <ng-container *ngIf="recipe.extractionCategory === 'espresso'">
              {{ 'recipes.creation.extraction_methods.espresso' | translate }}
            </ng-container>
          </p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div class="no-recipes" *ngIf="portfolioRecipes.length === 0">
    <p>{{ 'portfolio.no_recipes' | translate }}</p>
  </div>
</div>
