<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre de Portafolio</mat-label>
    <input matInput [(ngModel)]="portfolioName" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onCreate()" [disabled]="!portfolioName">
    {{ isEditMode ? 'Guardar' : 'Crear' }}
  </button>
</mat-dialog-actions>
