<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>

<form [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Costos de materia prima</mat-label>
    <mat-select formControlName="selectedLot">
      <mat-option value="lot1">Lote 1</mat-option>
      <mat-option value="lot2">Lote 2</mat-option>
      <mat-option value="lot3">Lote 3</mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.get('selectedLot')?.invalid">
      El campo Lote es requerido
    </mat-error>
  </mat-form-field>
</form>

<div class="button-container">
  <button mat-raised-button class="action-button" (click)="onCancel?.()">
    Cancelar
  </button>
  <button mat-raised-button class="action-button" [disabled]="!formGroup.valid" matStepperNext>
    Continuar
  </button>
</div>
