<mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>

<!-- CARD 1: Materia Prima -->
<mat-card>
  <h3>Costos de materia prima</h3>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Costo por kg de café verde</mat-label>
    <input matInput type="number" formControlName="costoKgCafe" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Cantidad de café verde (kg)</mat-label>
    <input matInput type="number" formControlName="cantidadKgCafe" />
  </mat-form-field>

  <p><strong>Total:</strong> S/. {{ totalMateriaPrima | number: '1.2-2' }}</p>
</mat-card>

<!-- CARD 2: Mano de obra directa -->
<mat-card>
  <h3>Costos de mano de obra directa</h3>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Horas trabajadas</mat-label>
    <input matInput type="number" formControlName="horas" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Costo por hora</mat-label>
    <input matInput type="number" formControlName="costoHora" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Número de trabajadores</mat-label>
    <input matInput type="number" formControlName="trabajadores" />
  </mat-form-field>

  <p><strong>Total:</strong> S/. {{ totalManoObra | number: '1.2-2' }}</p>
</mat-card>
