<div class="cards-container">
  <!-- Primera fila -->
  <div class="cards-row">
    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/cupping-sessions">
        <mat-card-content>
          <img src="/assets/sesiones-cata-icon.png" alt="Sesiones de Cata">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME_BARISTA.CUPPING_SESSIONS' | translate }}</h3>
      </mat-card>
    </div>

    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/libreria-defectos">
        <mat-card-content>
          <img src="../../../assets/libreria-defectos-icon.png" alt="Librería de Defectos">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME_BARISTA.DEFECTS_LIBRARY' | translate }}</h3>
      </mat-card>
    </div>

    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/correlacion-tueste-sabor">
        <mat-card-content>
          <img src="../../../assets/tueste-sabor-icon.png" alt="Correlación Tueste - Sabor">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME_BARISTA.ROAST_FLAVOR_RELATION' | translate }}</h3>
      </mat-card>
    </div>
  </div>

  <!-- Segunda fila -->
  <div class="cards-row">
    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/calibracion-molienda">
        <mat-card-content>
          <img src="../../../assets/calibracion-molienda-icon.png" alt="Calibración de Molienda">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME_BARISTA.GRIND_CALIBRATION' | translate }}</h3>
      </mat-card>
    </div>

    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/recetas">
        <mat-card-content>
          <img src="../../../assets/recetas-icon.png" alt="Recetas">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME_BARISTA.RECIPES' | translate }}</h3>
      </mat-card>
    </div>
  </div>
</div>
