<div class="consumption-table-container">
  <h2 class="table-title">{{ 'INVENTORY.CONSUMPTION_TABLE.TITLE' | translate }}</h2>
  
  <div class="table-wrapper">
    <table class="consumption-table">
      <thead>
        <tr>
          <th>{{ 'INVENTORY.CONSUMPTION_TABLE.DATE' | translate }}</th>
          <th>{{ 'INVENTORY.CONSUMPTION_TABLE.LOT' | translate }}</th>
          <th>{{ 'INVENTORY.CONSUMPTION_TABLE.CONSUMPTION' | translate }}</th>
          <th>{{ 'INVENTORY.CONSUMPTION_TABLE.ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="tableData.length === 0">
          <td colspan="4" class="empty-message">{{ 'INVENTORY.CONSUMPTION_TABLE.NO_DATA' | translate }}</td>
        </tr>
        <tr *ngFor="let item of tableData">
          <td>{{ item.date }}</td>
          <td>{{ item.lotName }}</td>
          <td>{{ item.consumptionKg }} kg</td>
          <td class="action-cell">
            <button class="view-button" 
                    (click)="viewConsumptionDetail(item)"
                    [title]="'INVENTORY.CONSUMPTION_TABLE.VIEW_DETAILS' | translate">
              <i class="material-icons">search</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 