<mat-toolbar color="primary">
  <app-toolbar></app-toolbar>
</mat-toolbar>

<div class="cards-container">
  <!-- Primera fila -->
  <div class="cards-row">
    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/cupping-sessions">
        <mat-card-content>
          <img src="/assets/catas.png" alt="{{ 'WELCOME.BUTTONS.CUPPING_SESSIONS' | translate }}">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME.BUTTONS.CUPPING_SESSIONS' | translate }}</h3>
      </mat-card>
    </div>

    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/libraryDefects">
        <mat-card-content>
          <img src="/assets/defects.png" alt="{{ 'WELCOME.BUTTONS.DEFECT_LIBRARY' | translate }}">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME.BUTTONS.DEFECT_LIBRARY' | translate }}</h3>
      </mat-card>
    </div>

    <!--
 <div class="card-wrapper">
   <mat-card class="action-card" routerLink="/roast-flavor-correlation">
     <mat-card-content>
       <img src="/assets/correlaciontueste.png" alt="{{ 'WELCOME.BUTTONS.ROAST_FLAVOR_CORRELATION' | translate }}">
     </mat-card-content>
     <h3 class="card-title">{{ 'WELCOME.BUTTONS.ROAST_FLAVOR_CORRELATION' | translate }}</h3>
   </mat-card>
 </div>
 -->
  </div>

  <!-- Segunda fila -->
  <div class="cards-row">
    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/grind-calibration">
        <mat-card-content>
          <img src="/assets/calibracion.png" alt="{{ 'WELCOME.BUTTONS.GRIND_CALIBRATION' | translate }}">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME.BUTTONS.GRIND_CALIBRATION' | translate }}</h3>
      </mat-card>
    </div>

    <div class="card-wrapper">
      <mat-card class="action-card" routerLink="/preparation/recipes">
        <mat-card-content>
          <img src="/assets/recetas.png" alt="{{ 'WELCOME.BUTTONS.BREW_RECIPES' | translate }}">
        </mat-card-content>
        <h3 class="card-title">{{ 'WELCOME.BUTTONS.BREW_RECIPES' | translate }}</h3>
      </mat-card>
    </div>
  </div>
</div>
