<mat-toolbar color="primary">
  <app-toolbar/>
</mat-toolbar>

<div style="height: 60px;"></div>

<div class="container">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <span>{{ 'NAVIGATION.DRINKS' | translate }}</span>
  </div>

  <!-- Buscador -->
  <div class="search-container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>{{ 'recipes.creation.name_placeholder' | translate }}</mat-label>
      <input
        matInput
        [(ngModel)]="searchTerm"
        (input)="filterRecipes()"
        [placeholder]="'recipes.creation.name_placeholder' | translate">
      <button
        mat-icon-button
        matSuffix
        *ngIf="searchTerm"
        (click)="searchTerm=''; filterRecipes();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Portafolios -->
  <div class="portfolio-section">
    <div class="section-header">
      <h2 class="section-title">{{ 'portfolio.title' | translate }}</h2>
      <button mat-raised-button class="create-button" (click)="openCreatePortfolioDialog()">
        {{ 'portfolio.create' | translate }}
      </button>
    </div>
    <div *ngFor="let portfolio of portfolios">
      <div class="portfolio-card" (click)="navigateToPortfolio(portfolio.id)">
        <div class="portfolio-content">
          {{ portfolio.name }}
        </div>
      </div>
    </div>
  </div>

  <!-- Recetas sin portafolio -->
  <div>
    <div class="section-header">
      <h2 class="section-title">{{ 'recipes.title' | translate }}</h2>
      <button mat-raised-button class="create-button" (click)="navigateToCreateRecipe()">
        {{ 'recipes.create' | translate }}
      </button>
    </div>
    <div class="recipes-grid">
      <mat-card
        class="recipe-card"
        *ngFor="let recipe of filteredRecipes"
        [routerLink]="['/preparation/recipes', recipe.id]">
        <img
          mat-card-image
          [src]="recipe.imageUrl"
          [alt]="recipe.name"
          class="recipe-img">
        <mat-card-content>
          <h3 class="recipe-title">{{ recipe.name }}</h3>
          <p class="recipe-type">
            <ng-container *ngIf="recipe.extractionCategory === 'coffee'">
              {{ 'recipes.creation.extraction_methods.coffee' | translate }}
              - {{ 'recipes.creation.extraction_methods.' + recipe.extractionMethod | translate }}
            </ng-container>
            <ng-container *ngIf="recipe.extractionCategory === 'espresso'">
              {{ 'recipes.creation.extraction_methods.espresso' | translate }}
            </ng-container>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
