<!-- Espacio reservado para el navbar -->
<div style="height: 60px;"></div>

<div class="container">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <a routerLink="/dashboard">Inicio</a> &gt; <span>Bebidas</span>
  </div>

  <!-- Buscador -->
  <div class="search-container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Buscar bebida</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="filterDrinks()" placeholder="Buscar...">
      <button mat-icon-button matSuffix *ngIf="searchTerm" (click)="searchTerm=''; filterDrinks();">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Portafolios -->
  <div class="portfolio-section">
    <div class="section-header">
      <h2 class="section-title">Portafolios</h2>
      <button mat-raised-button class="create-button" (click)="openCreatePortfolioDialog()">
        Crear Portafolio
      </button>
    </div>
    <div *ngFor="let portfolio of portfolios">
      <div class="portfolio-card" (click)="navigateToPortfolio(portfolio.id)">
        <div class="portfolio-content">
          {{ portfolio.name }}
        </div>
      </div>
    </div>
  </div>

  <!-- Bebidas sin portafolio asociado -->
  <div>
    <div class="section-header">
      <h2 class="section-title">Bebidas sin portafolio asociado</h2>
      <button mat-raised-button class="create-button" (click)="navigateToCreateRecipe()">Crear Bebida</button>
    </div>
    <div class="recipes-grid">
      <mat-card class="recipe-card" *ngFor="let drink of filteredDrinks">
        <img mat-card-image [src]="drink.image" [alt]="drink.name" class="recipe-img">
        <mat-card-content>
          <h3 class="recipe-title">{{ drink.name }}</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
