.background {
  background-image: url('/assets/fondo_planes.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.plans-grid {
  background-color: #F8F7F2;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.plan-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;

  .plan-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .plan-details {
    background-color: #C68F61;
    border-radius: 0.25rem;
    padding: 1rem;
    color: white;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .plan-price {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0 0 0.5rem 0;
    }

    .plan-features {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: left;
      flex-grow: 1;


      li {
        margin-bottom: 0.25rem;
      }
    }
  }

  .plan-button {
    background-color: #414535;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: auto;


    &:hover {
      background-color: #333228;
    }
  }
}
